body {
    margin:40px auto;
    max-width:950px;
    line-height:1.6;
    font-size:18px;
    background-color:rgb(123, 173, 248);
    padding:0 10px
}

  .main {
    background: rgb(229, 247, 245);
    height: 200px;
    width: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .carousel_images {
    display: flex;
    justify-content: center;
}
  .carousel_buttons {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
}
  .arrow {
    border: none;
    color:#444;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
  }
  .arrow:focus {
    outline: none;
  }
  .arrow:hover {
    background: #ccc;
    cursor: pointer;
  }
  ul {
    height: 130px;
    width: 9999px;
    margin: auto;
    padding: 0;
    list-style: none;
    font-size: 0;
    transform: translateX();
  }
  ul img {
    width: 130px;
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  ul li {
    display: inline-block;
    text-align: center;
}