html {
    background: rgb(80, 13, 13);
}

input {
    width: 30%;
    margin-left: 680px;
    margin-bottom: 20px;
    padding: 10px;
}

.title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: underline;
    margin-top: 20px;
}

.column-background {
    background: goldenrod;
    height: 100px;
}

.suggestions ul {
    margin-left: 680px;
}

.suggestions li {
    background: linear-gradient(to top,  #ffffff 0%,#b7d8f7 100%);    margin-left: 680px;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    box-shadow: 1 1 10px rgba(12, 12, 12, 0.336);
    text-transform: uppercase;
    font-family: 'Shippori Mincho', serif;
    line-height: 30px;
}

#mapid {
    height: 320px; 
}