html {
    background: rgb(255, 255, 255);
}

input {
    width: 30%;
    margin-left: 300px;
    margin-bottom: 20px;
    padding: 10px;
}

.title {
    text-align: center;
    color: rgb(82, 68, 68);
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: underline;
    margin-top: 20px;
}
.subtitle {
    text-align: center;
    color: rgb(82, 68, 68);
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 20px;
}


.column-background {
    background: goldenrod;
    height: 100px;
}

.target-list ul {
    margin-left: 680px;
}

.target-list li {
    background: linear-gradient(to top,  #9da4ce 0%,#cbe1f7 100%);
    margin-left: 680px;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    box-shadow: 1 1 10px rgba(12, 12, 12, 0.336);
    text-transform: uppercase;
    font-family: 'Shippori Mincho', serif;
    line-height: 30px;
}

.list-header{
    font-weight: 600;
}

#mapid {
    height: 480px; 
}